@font-face
{
  font-family: 'DS-DIGI';
  src: url('../fonts/DS-DIGI.TTF');
}
body{
  background-color: #448aff !important;
}
.navbar-brand{
  color: #FFF;
}
.fa-sun-o{
  color: rgb(235, 246, 21);
}
#reloj
{
  font-size: 100px;
  font-family: "DS-DIGI" !important;
  color: #FFF;
}
#saludo
{
  font-size: 30px;
  color: #FFF;
}
#fecha{
  font-size: 20px;
  color: #FFF;
}

#check{
  background: #fff !important;
  
}
